body {
    margin: 0;
    background-color: white;
    overflow: hidden;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

#username {
    max-width: 30%;
}

#password {
    max-width: 30%;
}

#chat-log {
    width: 80%;
    max-height: 800px;
    overflow: scroll;
}

.message-card {
    width: 100%;
}
